# Maven build output
target/

# IntelliJ IDEA project files
.idea/
*.iml

# System files
.DS_Store

# Logs
*.log

# Git version control
.git/
.gitignore

# Test reports or coverage
surefire-reports/
jacoco.exec
target/site/jacoco/

# Local configs (don't bake secrets into your image)
application-local.properties

# Postman collections (if not needed in image)
postman/

# VS Code settings (if you use VSCode too)
.vscode/
